block value
include ./_config
doctype html
html(lang="ja")
  head
    include ../common/_head
    include ../gtm/_gtmHeadTag

  body

    include ../gtm/_gtmBodyTag

    block header

    block main

    block footer
