- const cssPath = path + "/css/";
- const jsPath = path + "/js/";
- const imgPath = path + "/img/";
- const domain = ""
- const gtmId = '';
- const ogImage = domain + "img/ogp.jpg"
- const twitterDomain = ""
- const facebookAdmins = ""
- const facebookAppId = ""
